.app{
    width: 80vw;
    height: 100vh;
    overflow-x: hidden;
    margin: auto;
    color: white;
    background-color: #ffffff0c;
    backdrop-filter: blur(15px);
}
.app::-webkit-scrollbar{
    display: none;
}
@media (max-width:600px) {
    .app{
        width: 90vw;
    }
}